
.single_portfolio_text {
    display: inline-block;
    padding: 0;
    position: relative;
    overflow: hidden;

}

.single_portfolio_text img {
    width: 100%;
}


.single_portfolio_text:hover .portfolio_images_overlay {
    top: 10%;
    left: 10%;
}

.portfolio_images_overlay {
    width: 80%;
    height: 70%;
    background: rgba(0, 0, 0, 0.8);
    padding: 20px;
    margin: 0 auto;
    top: -100%;
    left: 5%;
    position: absolute;
    transition: .6s;

}

.portfolio_images_overlay h6 {
    color:#FC6170;
    font-size: 13px;
    font-weight: 400;
    border: 2px solid #FC6170;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portfolio_images_overlay .product_price {
    font-size: 35px;
    color: #FC6170;
    font-weight: 800;
    line-height: 30px;
}

.portfolio_images_overlay .product_price i {
    margin-right: -10px;
}

.fancybox-title {
    padding: 0 0 10px 0;
}


